.about {
  background-color: black;
  padding-bottom: 5%;
  width: 100vw;
  height: 45vh;
}

.about-container {
  display: flex;
  justify-content: space-around;
}

.about-container .about-text {
  width: 47%;
  margin-left: 3%;
}

h4 {
  color: white;
}

p {
  color: white;
  text-align: justify;
}

@media screen and (max-width: 810px) {
  .about {
    width: 120vw;
    height: 100vh;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: fit-content;
    position: absolute;
  }

  .about-container .about-text {
    width: 80%;
    margin: 2rem;
  }

  h2 {
    text-align: center;
  }
}
