.skills {
  background-color: black;
  padding-bottom: 5%;
}

.skills .list ul {
  color: white;
  list-style: none;
  padding: 0;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skills-container .list {
  flex-basis: 33%;
  background-color: black;
  box-shadow: 0 0 12px 4px white;
  border-radius: 9px;
  margin-bottom: 2px;
}

.skills .list ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
}

.skills p {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify;
}

/* .skills-container .img-skills {
 width: fit-content;
 align-self: center;
 border-radius: 25px;
 animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
} */

.skills-container .box-skills {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem;
}

.wrap {
  margin-top: 2rem;
  perspective: 800px;
  perspective-origin: 50% 100px;
  width: fit-content;
  align-self: center;
  height: 250px;
}

.cube {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
	
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
	line-height: 11rem;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  background: linear-gradient(black, rgb(66, 40, 44), pink, white);
	border: 1px solid white;
	box-shadow: 0 0 12px 4px white;
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background: linear-gradient(black, rgb(66, 40, 44), pink, white);
	border: 2px solid white;
	box-shadow: 0 0 12px 4px white;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background: linear-gradient(black, rgb(66, 40, 44), pink, white);
	border: 2px solid white;
	box-shadow: 0 0 12px 4px white;
}

.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  background: linear-gradient(black, rgb(66, 40, 44), pink, white);
	border: 2px solid white;
	box-shadow: 0 0 12px 4px white;
}
.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  background: linear-gradient(black, rgb(66, 40, 44), pink, white);
	border: 2px solid white;
	box-shadow: 0 0 12px 4px white;
}
.front {
  transform: translateZ(100px);
  background: linear-gradient(black, rgb(66, 40, 44), pink, white);
	border: 2px solid white;
	box-shadow: 0 0 12px 4px white;
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.cube {
  animation: spin 5s infinite linear;
}

.box-wrap-skills {
  display: flex;
  flex-direction: column;
}
